<div class="card-columns">
    <div *ngFor="let heroe of heroes; let i = index" class="card">
      <img [src]="heroe.img" class="card-img-top heroes-img" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <button class="btn btn-primary btn-block" (click)="getHeroe(i)">View More...</button>
      </div>
  </div>  
</div>